.Cell {
    border: 1px solid #222;
    height: 100px;
    flex-basis: 25%;
    transition: background-color 0.3s ease-in-out;
    color: #fff;
    padding: 5px;
}

.Cell:hover {
    background-color: rgba(77, 159, 255, .15);
    cursor: pointer;
}

.Cell.active {
    background-color: rgba(77, 159, 255, 1);
}

.Cell span {
    color: #fff;
    display: block;
}

.Cube {
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
}
